.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-top: 15rem;
    padding-bottom: 15rem;
}
.company-info {
    width: 25%;
}
.company-info h1{
    padding: 0;
    margin: 0;
}
.company-info h3 {
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(194, 185, 185);
}
.company-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    height: 100%;
}
.company-address div {
    margin-top: 2rem;
}
.company-address div a {
    text-decoration: none;
    color: rgb(194, 185, 185);
}