.hero-section {
    margin: 0;
    padding: 0;
    background-color: #12121a;
    border-radius: 0 0 15rem 10rem;
}
.main-content-container {
    padding-top: 7em;
    padding-bottom: 14em;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.catchphrase-container {
    width: 40%;
    padding-left: 10rem;
}
h1 {
    font-size: 4rem;
}
p {
    font-size: 1.1rem;
    word-spacing: 0.25rem;
    line-height: 1.5rem;
}
.get-started {
    direction: flex;
    align-items: flex-end;
}
.get-started button {
    border: 2px solid #c97cb2;
    border-radius: 15rem 15rem 15rem 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: linear-gradient(135deg, #c97cb2 0%, #69375a 100%);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    transition: all 0.5s;
}
.get-started button:hover {
    color: white;
    /* background-image: linear-gradient(135deg, #c97cb2 0%, #69375a 100%); */
}
